Are you sure?
<%= simple_form_for(@request,:url => request_approve_path(@request), :html => { :class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :approve, :value => 2%>
  
  <div class="form-actions">
    <%= f.submit "Yes", :class => "btn-primary"%>
    <a class="btn" data-dismiss="modal" href="#">Cancel</a>
  </div>
<% end %>









