<h1>Listing organizations</h1>

<table class = "table table-striped">
  <tr>
    <th>Name</th>
    <td><%= @organization.name %></td>
  </tr>
  <tr>
    <th>Department</th>
    <td><%= @organization.department.join(",") %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_organization_path(@organization), :class => "btn btn-primary" %>
